/*GLOBALES*/
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333;

}

img{
    max-width: 100%;
}
/* Estilos generales */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos para la sección de Inicio */
#inicio {
    background-image:url(./img/background.jpg) ;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

#inicio .container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

#inicio h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

#inicio p {
    font-size: 23px;
    margin-bottom: 30px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;

}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para la sección Sobre Nosotros */
#sobre-nosotros {
    padding: 60px 0;
    background-color: #f8f9fa;
}

#sobre-nosotros h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-text {
    flex:1; /*Esta propiedad indica que el elemento debe crecer y ocupar espacio disponible en un contenedor flexible */
}

.about-text p {
    margin-bottom: 20px;
    line-height: 1.6; /*interlineado*/
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}


/*HEADER*/

header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 0 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center;
}

nav ul li {
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}


/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

/*FORMULARIO*/
#formulario-contacto{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column(2);
    margin-bottom: 15px;
    margin-top: 25px;
}
#formulario-contacto form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
#formulario-contacto h2{
    color: #4d4d5c;
    font-size: 35px;
}

#formulario-contacto label{
    color: #4d4d5c;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
#formulario-contacto input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: lightskyblue;
    border: 2px solid #f0faf1;
    color: #4d4d5c;
    outline: none;
}

#formulario-contacto input::placeholder, textarea::placeholder{
    color:#4d4d5c;
}

#formulario-contacto .btn{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color:lightskyblue;
    box-shadow: 0 0 20px rgba(0, 178, 255, 0.4);
    cursor: pointer;
}

#formulario-contacto .btn:hover{
    background-color: #6cc030;
}

/*FOOTER - PIE DE PAGINA*/
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p a{
    color: #fff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icon {
    color: #fff;
    font-size: 20px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #555;
}

/* Estilos responsivos */
/* Estilos responsivos sobre nos.*/
@media (max-width: 768px) {
    #inicio {
        height: auto;
        padding: 60px 0;
    }

    .about-content {
        flex-direction: column;
    }

    .about-image {
        order: -1;
    }
}

/* Estilos responsivos products*/

@media screen and (max-width: 1200px) {
    .container-items {
        grid-template-columns: repeat(2, 1fr);
    }
    .item img{
        width: 90%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        transition: all .5s;
    }
}

@media screen and (max-width: 768px) {
    .container-items {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
    
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }

    #formulario-contacto{
        min-height: 10vh;
        display: grid;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .item img {
        height: 200px;
    }

    .info-product {
        padding: 10px 20px;
    }

    .price {
        font-size: 16px;
    }

    .info-product button {
        padding: 10px 5px;
    }
}

/* responsivo para el pie de página */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

